.courseraPage{
    background-color: rgb(158, 147, 147);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.academicPage{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
}